@import 'fonts';
@import url(//fonts.googleapis.com/css?family=Roboto:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(//fonts.googleapis.com/css?family=Special+Elite:400,700);
@import url(//fonts.googleapis.com/css?family=Source+Code+Pro);

body {
  color: #555555 !important;
}

.reveal {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: normal;
    font-size: 32px;
    color: #555555 !important;

    section img {
        /* Disable background 4px border around images */
        border: none;
        background: none;
        /* Disable box shadow around images */
        box-shadow: none;

        /* Blow image up to full screen size */
        height: auto;
        width: 100%;
        margin: 2%;
        max-width: 100%;
        max-height: 100%;
    }

    section {
        margin: 2%;
    }

    /* Make sure keyboard shortcuts help is visible */
    .overlay-help .viewport {
        th, td {
            color: white;
        }
    }

    /* Blow iframe up to full screen size */
    iframe {
        height: 90%;
        width: 100%;
        margin: 1%;
        max-width: 100%;
        max-height: 100%;
    }

    h1 {
        font-size: 2.6em;
        /* change spacing for Roboto */
        letter-spacing: -2px;
        margin-top: 1rem;
    }

    h2 {
        font-size: 1.6em;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    h3 {
        /* before 1.5em */
        margin-top: 1.0em;
        font-size: 1.0em;
    }

    h1, h2, h3, h4, h5 {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        text-transform: none !important;
        color: black;
    }

    h6 {
        font-size: 2em;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        text-transform: initial;
        color: black;
    }

    table, th, td {
       border: 0px !important;
       border-bottom: 0px !important;
       margin: 0px;
       padding: 0em 0.1em 0.1em 0em !important;
    }

    sup {
        font-size: 50%;
    }

    .progress span {
        background-color: black
    }

    .controls {
        div.navigate-up, div.navigate-up.enabled {
            border-bottom-color: black
        }

        div.navigate-down, div.navigate-down.enabled {
            border-top-color: black
        }

        div.navigate-left, div.navigate-left.enabled {
            border-right-color: black
        }

        div.navigate-right, div.navigate-right.enabled {
            border-left-color: black
        }
    }

    a {
	font-family: "Source Code Pro", monospace !important;
        white-space: nowrap;
    }

    code {
        font-family: "Source Code Pro", monospace !important;
        color: black !important;
        text-shadow: none;
        text-transform: none;
        letter-spacing: -2px;
    }

    pre {
        box-shadow: none;
        padding: 5px 5px;
        background-color: rgb(237, 237, 237);
        max-width: 90%;
    }

    pre code {
        font-family: "Source Code Pro", monospace !important;
        background: inherit !important;
        line-height: 1.2;
        font-size: 1.2em;
        text-shadow: none;
        text-transform: none;
        font-weight: normal;
        max-height: 100%;
        max-width: 100%;
        letter-spacing: 0px !important;
    }

    .stamp {
        position: absolute;
        color: red !important;
        font-size: 6em !important;
        font-family: "Special Elite" !important;
        transform: rotate(-45deg);
        position:absolute;
        left:50%;
        top:50%;
        margin-left:-20vw;
        margin-top:-10vh;
        text-shadow: none;
    }
}

.reveal .slides {
        text-align: left;
}

.section-break {
    .reveal .slides {
        $left-margin: 2%;
        $top-margin: 3%;
        $bg-height: 100% - (2 * $top-margin);
        $width: 100% - (2 * $left-margin);

        > section {
            padding: 0;
            height: 30%;
            position: absolute;
            top: 30%;
            text-align: left;

            h1, h2 {
                color: black;
            }

            h1 {
                font-size: 3em;
                font-weight: bold;
                //text-transform: uppercase !important;
            }

            h2 {
                font-size: 32pt;
                font-weight: normal;
            }

            code {
                color: black !important;
            }
        }
    }
}

.cover {
    .reveal {

      code {
          font-family: "Source Code Pro", monospace !important;
          color: #555555 !important;
          padding: 0px 0px !important;
          font-size: 2.3em;
          font-weight: bold;
	  text-align: left !important;
       }
       pre {
          box-shadow: none;
          padding: 0px 0px !important;
          background-color: white;
          max-width: 100%;
          width: 100%;
       }
       pre code {
          padding: 0px;
	  line-height: 1.4em;
       }
    }
}

@media print {
    .reveal {
        h1, h2, h3, h4, h5, h6 {
            color: black;
        }
    }
}

